<app-epnav [number]="3"></app-epnav>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep3/ep3slide1.png"
    alt="loading..."
  />
</div>

<div class="wraper"></div>
<img
  class="image"
  src="../../assets/images/ep3/ep3slide2.png"
  alt="loading..."
/>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep3/ep3slide3.png"
    alt="loading..."
  />
</div>

<div class="wraper"></div>
<img
  class="image"
  src="../../assets/images/ep3/ep3slide4.png"
  alt="loading..."
/>

<div class="wraper"></div>
<img
  class="image"
  src="../../assets/images/ep3/ep3slide5.png"
  alt="loading..."
/>

<app-social class="social"></app-social>

<app-commentBox
  [commentsList]="commentsList"
  (sendComment)="sendComment($event)"
></app-commentBox>

<!-- <app-epnavbottom></app-epnavbottom> -->
