.time {
  color: rgba(163, 163, 163, 0.726);
  font-style: italic;
}

.text {
  margin-left: 10px;
}

.name {
}

.textContainer {
  margin: 10px;
}

.comment {
  // display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 40%;
}

@media (max-width: 991px) {
  .comment {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .comment {
    width: 100%;
  }
}
