<p class="nav">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Favorite">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button mat-icon-button aria-label="Comment">
      <mat-icon>pending</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Previous Episode">
      <mat-icon>arrow_left</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>arrow_right</mat-icon>
    </button>
  </mat-toolbar>
</p>
