<app-epnav></app-epnav>

<img class="image" src="../../assets/images/ep1slide1.png" alt="comicpanel" />
<img class="image" src="../../assets/images/ep1slide2.png" alt="comicpanel" />
<img class="image" src="../../assets/images/ep1slide3.png" alt="comicpanel" />
<img class="image" src="../../assets/images/ep1slide4.png" alt="comicpanel" />
<img class="image" src="../../assets/images/ep1slide5.png" alt="comicpanel" />
<img class="image" src="../../assets/images/ep1slide6.png" alt="comicpanel" />
<img class="image" src="../../assets/images/ep1slide7.png" alt="comicpanel" />
<img class="image" src="../../assets/images/ep1slide8.png" alt="comicpanel" />
<img class="image" src="../../assets/images/ep1slide9.png" alt="comicpanel" />
<img class="image" src="../../assets/images/ep1slide10.png" alt="comicpanel" />
<img class="image" src="../../assets/images/ep1slide11.png" alt="comicpanel" />
<img class="image" src="../../assets/images/ep1slide12.png" alt="comicpanel" />
<img class="image" src="../../assets/images/ep1slide13.png" alt="comicpanel" />

<app-commentBox (sendComment)="sendComment($event)"></app-commentBox>

<app-epnavbottom></app-epnavbottom>
