<button mat-button>
  <a class="platform" href="https://discord.gg/4YeFU3mXWT" target="_blank">
    <img
      class="image"
      src="../assets/icons/discord.svg"
      alt="Bootstrap"
      width="32"
      height="32"
    />
  </a>
</button>
<button mat-button>
  <a
    class="platform"
    href="https://www.facebook.com/groups/496845212088059"
    target="_blank"
  >
    <img
      class="image"
      src="../assets/icons/facebook.svg"
      alt="Bootstrap"
      width="32"
      height="32"
    />
  </a>
</button>
<button mat-button>
  <a
    class="platform"
    href="https://www.tiktok.com/@furiouslyclicking"
    target="_blank"
  >
    <img
      class="image"
      src="../assets/icons/tiktok.svg"
      alt="Bootstrap"
      width="32"
      height="32"
    />
  </a>
</button>
<button mat-button>
  <a
    class="platform"
    href="https://www.youtube.com/channel/UC5080wAxyICU-M_aD8kDe7Q"
    target="_blank"
  >
    <img
      class="image"
      src="../assets/icons/youtube.svg"
      alt="Bootstrap"
      width="32"
      height="32"
    />
  </a>
</button>
