<app-epnav [number]="5"></app-epnav>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep5/ep5slide1.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep5/ep5slide2.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep5/ep5slide3.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep5/ep5slide4.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep5/ep5slide5.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep5/ep5slide6.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep5/ep5slide7.png"
    alt="loading..."
  />
</div>
<!--
<img
  class="image"
  src="../../assets/images/ep4/ep4slide8.png"
  alt="loading..."
/>
<img
  class="image"
  src="../../assets/images/ep4/ep4slide9.png"
  alt="loading..."
/> -->

<app-social class="social"></app-social>

<app-commentBox
  [commentsList]="commentsList"
  (sendComment)="sendComment($event)"
></app-commentBox>

<!-- <app-epnavbottom></app-epnavbottom> -->
