<app-epnav [number]="4"></app-epnav>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep4/ep4slide1.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep4/ep4slide2.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep4/ep4slide3.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep4/ep4slide4.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep4/ep4slide5.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep4/ep4slide6.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep4/ep4slide7.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep4/ep4slide8.png"
    alt="loading..."
  />
</div>

<div class="wraper">
  <img
    class="image"
    src="../../assets/images/ep4/ep4slide9.png"
    alt="loading..."
  />
</div>

<app-social class="social"></app-social>

<app-commentBox
  [commentsList]="commentsList"
  (sendComment)="sendComment($event)"
></app-commentBox>

<!-- <app-epnavbottom></app-epnavbottom> -->
