<div class="poster">
  <div id="info">
    <h1 class="title">How to become a Super Villain</h1>
    <p class="bio">
      The Marked Man has struck again, and rookie officer Callahan and her
      partner are the first on the scene of his latest grisly murder. The
      investigation quickly takes them into the dangerous depths of Shiloh,
      where more than just their suspect might be hiding in wait.
    </p>
  </div>
  <div class="spacer"></div>
  <!--
    card
      link component
        link component is just a url. And I make a new url for each episode
  -->
  <mat-card class="card">
    <mat-card-title> How to Become a Supervillain</mat-card-title>
    <mat-card-content>
      <app-link text="Episode 1" date="Oct 1 2022" number="1"></app-link>

      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <div class="spacer"></div>
    </mat-card-footer>
  </mat-card>
</div>
