.poster {
  background-image: url("../../assets/images/posterv3.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.spacer {
  height: 600px;
}

.title {
  //margin-top: 20%;
}

.bio {
  font-size: 16px;
  width: 50%;
  margin: auto;
}

@media (max-width: 900px) {
  .bio {
    width: 90%;
    margin: auto;
  }
}

#info {
  //margin-top: 200px;
  //margin: auto;
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 10px 0;
}

.card {
  //   width: ;
  margin-top: -300px;
  //margin: auto;
}

.platform {
  color: black;
}

.image {
  padding-top: 10px;
  padding-left: 7.5px;
  margin-right: 10px;
}

.pic {
  //   margin-top: 20px;
  width: 100px;
  height: 80px;
  background-size: cover;
  display: inline;
  float: left;
}

.text {
  font-size: 18px;
  color: rgb(53, 53, 53);
  display: inline;
  // position: relative;
  // bottom: 50px;
  padding-left: 10px;
  padding-top: 20px;
  float: left;
}

.date {
  font-size: 16px;
  padding-left: 10px;
  float: left;
  display: inline;
  //position: relative;
  //left: 115px;
  //float: right;
}

.number {
  font-size: 16px;
  color: rgb(90, 90, 90);
  display: inline;
  //position: relative;
  //right: 50%;
  margin-left: 95%;
  padding-left: 0;
  margin-top: -45px;
  margin-bottom: -20px;
  float: right;
}

.link {
  //margin-bottom: -50px;
  display: block;
  opacity: 0.5;
  // margin-bottom: -20px;
}
